client
node_modules
SQL\ Queries
.babelrc
.eslintrc
package-lock.json
todolist
instrucciones.txt
webpack.common.js
webpack.config.js
webpack.dev.js
webpack.prod.js
ecosystem.config.js
server/api/**/*.js
server/auth/**/*.js
server/config/**/*.js
server/helper/**/*.js
server/mailer/**/*.js
server/public/**/*.js
server/sqldb/**/*.js
server/app.js
server/index.js
server/routes.js
